.login-box {
  display: grid;
  grid: 1fr 47rem 1fr / 1fr 63.813rem 1fr;
  min-height: 100vh;

  @include respond(xl) {
    grid: 1fr 35rem 1fr / 1fr 55rem 1fr;
  }

  @include respond(lg) {
    grid: 1fr 25rem 1fr / 1fr 45rem 1fr;
  }

  @include respond(md) {
    grid: 1fr 25rem 1fr / 1fr 33rem 1fr;
  }

  @include respond(sm) {
    grid: 1fr 25rem 1fr / 1fr 20rem 1fr;
  }

  @include respond(18.75rem) {
    grid: 1fr 25rem 1fr / 1fr 15rem 1fr;
  }

  &__background-wrapper {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 78.3%;
    place-self: center;
    background: $color-primary;
    border-radius: 1rem;
  }

  &__wrapper {
    @include flex(column, center, center);
    grid-area: 2 / 2 / 3 / 3;
    width: 87%;
    height: 100%;
    place-self: center;
    background-color: $color-white;
    z-index: 10;
    box-shadow: 1.875rem 0.25rem 5.25rem rgba($color-shadow, 0.16);
    border-radius: 1rem;
  }

}

.login-container {

  display: grid;
  grid: 1fr 5.088rem 3.5rem 3.5rem 3.5rem 1fr / 1fr;
  width: 26.625rem;
  height: 100%;
  gap: 2.5rem;

  @include respond(md) {
    width: 17.5rem;
  }

  @include respond(sm) {
    width: 12.5rem;
  }

  @include respond(18.75rem) {
    width: 10rem;
  }

  &__logo {
    grid-area: 2 / 1 / 3 / 1;
    place-self: center;
    margin-bottom: 2.75rem;

    @include respond(lg) {
      margin-bottom: 0rem;
    }

    & img {
      width: 81.4px;
      height: auto;
    }

  }

  &__email {
    grid-area: 3 / 1 / 4 / 1;
  }

  &__password {
    grid-area: 4 / 1 / 5 / 1;
    margin-bottom: 1.25rem;
  }

  &__button {
    grid-area: 5 / 1 / 6 / 1;
  }

  }

