.switch {
  @include flex(row,space-between, center);
  width: 12.625rem;
  height: 2.125rem;

  &__label {
    font-size: 0.75rem;

    &--active {
      color: $color-secondary-text;
    }

    &--inactive {
      color: $color-secondary-text-2;
    }
  }

  &__wrapper {
  padding: 0.313rem;
  border-radius: 0.375rem;
  width: 4.875rem;
  height: 2.125rem;

    &--active {
      background-color: $color-primary;
    }

    &--inactive {
      background-color: $color-secondary-light-1;
    }

  }

  &__container{
    display: inline-block;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
  }

  &__toggle {
    display: none;
    border:none;
    & + label{
      cursor: pointer;
      width: 2.125rem;
      height: 1.5rem;
      background-color: $color-white;
      border-radius: 0.25rem;
      &:hover{
        background: none;
      }
    }

    &:checked + label {
      cursor: default;
      background: none;
      border-radius: 0.25rem;
      transition: color 200ms;
    }
  }

  &__icon {

    &--checkmark {
      width: 1rem;
      height: 0.75rem;
      color: $color-white;
    }

    &--lines {
      width: 0.563rem;
      height: 0.688rem;
      color: $color-secondary-light-4;
    }

    &--close {
      width: 0.75rem;
      height: 0.75rem;
      color: $color-secondary-text;
    }

  }

}


