// overrides the primevue ui classes
.p-datatable {

  & .p-datatable-header,
  & .p-datatable-tbody > tr > td,
  & .p-paginator-bottom,
  & .p-datatable-footer
  {
    border: none;
  }

  & .p-sortable-column .p-sortable-column-icon {
    color: $color-secondary-text;
  }

}

.p-link {
  font-size: 0.875rem;
}

.p-paginator {

  & .p-paginator-current {
    font-size: 0.75rem;
    color: $color-secondary-text-3;
  }

  & .p-paginator-pages .p-paginator-page {
    min-width: 1.5rem;
    height: 1.5rem;
    color: $color-secondary-text-3;
  }

  & .p-paginator-pages .p-paginator-page.p-highlight {
    background: $color-secondary-light-6;
    border-color: $color-secondary-light-6;
    color: $color-secondary-text-3;
  }

  & .p-paginator-first,
  & .p-paginator-prev,
  & .p-paginator-next,
  & .p-paginator-last
  {
    background-color: transparent;
    border: 0 none;
    color: $color-secondary-text-3;
    /* color: rgba(0, 0, 0, 0.6); */
    min-width: 1.5rem;
    height: 1.5rem;
    margin: 0.143rem;
    transition: none;
    border-radius: 50%;
  }

}



  .p-column-header {
    background-color: var(--surface-a) !important;
    &:hover {
      background-color: var(--surface-b) !important;
    }
  }

  .table {
    background: $color-white;
    box-shadow: 0rem 0.75rem 2rem rgba($color-shadow, 0.06);
    padding: 1rem;
    padding: 2rem;
    border-radius: 0.75rem;

    &__icon {
      width: 19px;
      height: 19px;

      &:hover {
        cursor: pointer;
      }
    }

    &__row {
      margin: 8px 0px;
      background: #FCFAFF !important;

      &:hover {
        background: #F1EBF7 !important;
      }
    }

    &__column {

      &--extended {
        min-width: 15rem;
        display: flex !important;
        flex: 1 1 15rem !important;
        justify-content: flex-start !important;
        align-items: center !important;
        overflow: hidden;

        &:hover {
          cursor: pointer;
        }
      }

      &--collapsed {
        min-width: 20%;
        display: flex !important;
        flex: 1 1 20% !important;
        justify-content: flex-start !important;
        align-items: center !important;
        overflow: hidden;
        text-overflow: ellipsis !important;


        &:hover {
          cursor: pointer;
        }
      }
    }

    &__footer {
      float: right;
      width: 10.438rem;
    }
  }
